.carddiv {
width:200px; 
height:250px; 
position:relative;
transform-style: preserve-3d;
transform-origin: 100% 130px;
transition: all 0.7s ease;

}
.picture:hover .carddiv {
-webkit-transform: rotateX(-180deg);
transform: rotateX(-180deg);
}
.frontofcard, .backofcard {
width:auto;
 height:auto;
 position:absolute; 
 left:0; 
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
color:black;
margin-left:50px;
display:flex;
max-height:250px;
max-width:400px;
}
.backofcard {
-webkit-transform: rotateX(180deg);
transform: rotateX(180deg);
word-wrap: break-word;
}
.meriton{
	margin:50px 500px 50px 500px;
}
.meritoni{
margin-top:-200px;	
}
legend{
	color: black;
    text-shadow: 10px 15px 5px #04b49d, 0 0 25px #04b49d, 0 0 5px #04b49d;
	font-size:30px;
}

.meriton:hover{
	border: 2.8pt solid #04b49d;
	text-align:center;
	border-radius: 1em;
	min-width:200px;
}
